<connectionStrings>
  <clear/>
  <!--<add connectionString="Data Source=DESKTOP-SL5INS2\SQLEXPRESS;Initial Catalog=SalesERPDB;Integrated Security=True" name="SalesERPDAL" providerName="System.Data.SqlClient" />-->
  <add connectionString="Data Source=DESKTOP-SL5INS2\SQLEXPRESS;Initial Catalog=TeduShop;Integrated Security=true" name="TeduShopConnection" providerName="System.Data.SqlClient" />
</connectionStrings>